<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">

    <joint type="fixed" name="depth_joint">
        <origin xyz="0.1 0 0.25" rpy="0 0 0"/>
        <child link="depth_link"/>
        <parent link="base_footprint"/>
        <axis xyz="0 1 0" rpy="0 0 0"/>
    </joint>

    <link name='depth_link'>
        <xacro:inertial_box mass="1e-5" x=".1" y=".15" z=".1">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
        <collision name='collision'>
            <geometry>
                <box size=".025 .15 .05"/>
            </geometry>
        </collision>

        <visual name='depth_link_visual'>
            <geometry>
                <box size=".025 .15 .05"/>
            </geometry>
        </visual>
    </link>

    <joint type="fixed" name="camera_optical_joint">
        <origin xyz="0 0 0" rpy="-1.5707 0 -1.5707"/>
        <child link="camera_link_optical"/>
        <parent link="depth_link"/>
    </joint>

    <link name="camera_link_optical">
    </link>

  <gazebo reference="depth_link">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.25</horizontal_fov>
        <image>
          <width>1080</width>
          <height>720</height>
        </image>
        <clip>
          <near>0.3</near>
          <far>3</far>
        </clip>
        <optical_frame_id>camera_link_optical</optical_frame_id>
      </camera>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>camera</topic>
      <!--gz_frame_id>camera_link</gz_frame_id-->
    </sensor>
  </gazebo>
</robot>